{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif w-90 w-80-m w-60-ns center mv2 mv5-ns"
  itemscope
  itemtype="http://schema.org/Article"
>

  <span class="b">/ </span>
  <a href="{{ .Site.BaseURL  }}" class="b bb bw1 pb1 no-underline black">{{ .Site.Title }}</a>
  <span class="b"> / </span>
  <a href="/post" class="b bb bw1 pb1 no-underline black">archive</a>

  <section id="main" class="mt5">
    <h1 itemprop="name" id="title">{{ .Title }}</h1>
    <span class="f6 gray">{{ .Date.Format "January 2, 2006" }}</span>

      <article itemprop="articleBody" id="content" class="w-90 lh-copy">
        {{ if .Params.Exturl }}
        <span class="f6 gray"><a
          href="{{ .Params.Exturl  }}"
          >{{ .Params.Exturl }}</a
        ></span>
        {{ end }}

        {{ .Content }}
      </article>

      <!-- last modified note -->
      <span class="f6 gray mv3" title="Lastmod: {{ .Lastmod.Format "January 2, 2006" }}. Published at: {{ .PublishDate.Format "2006-01-02" }}.">
        {{ if ne .Lastmod .PublishDate }}
          <span class="i">last modified</span> {{ dateFormat "January 2, 2006" .Lastmod }}
        {{ end }}
      </span>

      {{ if and (.Site.Taxonomies.series) (isset .Params "series") }}
        <section class="mt4">
          {{ $readMore := ":wave:" }}
          {{ $series := .Params.series | urlize}}
          <h3>{{ $readMore | emojify }} Related posts in the <a href="/series/{{ $series }}" class="b bb bw1 pb1 no-underline black">{{ .Params.Series }}</a> series...</h3>

          {{ $posts := index .Site.Taxonomies.series $series }}

          {{ if (gt ($posts | len) 1)}}
            <ul class="list pl0">
              {{ range where $posts "Title" "!=" .Title }}
                <li class="list pl0 lh-copy">
                  <a
                    class="f4 b dib black no-underline"
                    href="{{ .Permalink}}"
                    >{{ .Title }}</a
                  >
                  <span class="f6 gray">{{ .Date.Format "January 2, 2006" }}</span>
                </li>
              {{ end }}
            </ul>
          {{ else }}
            <div class="ph2 i">
              No follow up posts yet. Check back soon!
            </div>
          {{ end }}
        </section>
      {{ end }}

  </section>

  <div>
    <p class="f6 gray mt6 lh-copy">

        Like this summary? Get the next one delivered to your inbox.

        <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://thatfullpocket.us5.list-manage.com/subscribe/post?u=12070e89fe5902d4295247e44&amp;id=3e878e85d0" method="post" id="mc-embedded-subscribe-form" style="padding:0" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_12070e89fe5902d4295247e44_3e878e85d0" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div></div>
</form>
</div>

<!--End mc_embed_signup-->

      </p>
  </div>

  {{ partial "footer.html" . }}

  </body>
</html>
